@model IEnumerable<Tarea3.Models.ClienteModel>

@{
    ViewData["Title"] = "Index";
}
<h1>Inicio</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-circle"></i> Crear Nuevo cliente</a>
</p>
<table class="table table-bordered table-hover table-striped align-middle">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado_civil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nombres_Cliente)
            </td>
            <td>
                @Html.DisplayFor(model => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(model => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(model => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(model => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(model => item.fecha_nacimiento)
            </td>
            <td>
                @Html.DisplayFor(model => item.estado_civil)
            </td>
            <td>
                @Html.DisplayFor(model => item.estado)
            </td>
                  <td>
                <a asp-action="Edit"
                                       asp-route-id="@item.id"
                                       class="btn btn-warning btn-sm">
                                        Editar
                                    </a>

                                    <a asp-action="Details"
                                       asp-route-id="@item.id"
                                       class="btn btn-info btn-sm text-white">
                                        Detalles
                                    </a>

                                    <a asp-action="Delete"
                                       asp-route-id="@item.id"
                                       class="btn btn-danger btn-sm">
                                        Eliminar
                                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
